@font-face {
  font-family: 'Medieval Scribish';
  font-style: normal;
  font-weight: normal;
  src: local('Medieval Scribish'), url('scribish.woff') format('woff');
  }

h1 {
  font-family: 'Medieval Scribish';
  color: rgb(0, 250, 21);
}

h2 {
  font-family: 'Medieval Scribish';
  color: rgb(255, 47, 255);
  font-weight: bold;
}

h3 {
  color: blueviolet;
  width: 70%;
  margin: auto;
  font-weight: bold;
}

.weight {
  color: whitesmoke;
  font-weight: bold;
}
